@font-face {
    font-family: 'cardo-regular';
    src: url('assets/fonts/Cardo-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  }  


html {
    height: 100%;
  }
  
  body {
    height: 100%;
    margin: 0;
    font-family: 'cardo-regular';
    display: grid;
    justify-items: center;
    align-items: center;
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("assets/images/backgroundBooks.jpg");
  }

  #bookShopLogo {
      width: 100px;
      height: 100px;
  }


  #regisration-header {
    height: 10%;
  }

  #main-holder {
    width: 40%;
    height: 80%;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 2px black;
  }
  
  #registration-form {
    width: 40%;
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  .registration-form-field::placeholder {
    color: #3a3a3a;
  }
  
  .registration-form-field {
    border: none;
    border-bottom: 2px solid #3a3a3a;
    margin-bottom: 15px;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 5px 5px;
    width: 100%
  }
  
  #regisrtation-form-submit {
    width: 70%;
    margin-top: 20px;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
  }

  .registrationBtn {
      background-color:cadetblue !important;
  }